bazel-*
/build
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
.configure.bazelrc
.user.bazelrc
*.egg-info
**/__pycache__/
.DS_Store
.idea
.vscode